@tailwind base;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  font-family: "Montserrat", georgia, serif;
}


/* a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
} */




@tailwind components;

@tailwind utilities;
